.App {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.Grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #20232a;
  border: 1px solid #20232a;
}

.Block {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  display: inline;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: red;
}
